/.idea/.gitignore
/.idea/adventofcode2021.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/kotlin/target/classes/META-INF/consoleApp.kotlin_module
/kotlin/target/classes/nl/tjang/aoc/day1/Day1Part1$depthIncreases$1.class
/kotlin/target/classes/nl/tjang/aoc/day1/Day1Part1.class
/kotlin/target/classes/nl/tjang/aoc/day1/Day1Part1Kt.class
/kotlin/target/classes/nl/tjang/aoc/day1/Day1Part2$depthIncreases$1.class
/kotlin/target/classes/nl/tjang/aoc/day1/Day1Part2$depthIncreases$2.class
/kotlin/target/classes/nl/tjang/aoc/day1/Day1Part2.class
/kotlin/target/classes/nl/tjang/aoc/day1/Day1Part2Kt.class
/kotlin/target/classes/nl/tjang/aoc/day2/Day2Part1.class
/kotlin/target/classes/nl/tjang/aoc/day2/Day2Part1Kt.class
/kotlin/target/classes/nl/tjang/aoc/day2/Day2Part2.class
/kotlin/target/classes/nl/tjang/aoc/day2/Day2Part2Kt.class
/kotlin/target/classes/nl/tjang/aoc/day2/Position.class
/kotlin/target/classes/nl/tjang/aoc/day2/PositionAim.class
/kotlin/target/classes/nl/tjang/aoc/FileUtils.class
/kotlin/target/classes/day1.txt
/kotlin/target/classes/day2.txt
/kotlin/target/classes/day3.txt
/kotlin/target/classes/day4.txt
/kotlin/target/classes/day5.txt
/kotlin/target/test-classes/META-INF/consoleApp.kotlin_module
/kotlin/target/test-classes/nl/tjang/aoc/day2/Day2Part1Test.class
/kotlin/target/test-classes/nl/tjang/aoc/day2/Day2Part2Test.class
/kotlin/consoleApp.iml
